<p>search-criteria works!</p>

<form #searchForm="ngForm" (ngSubmit)="getTheMovies(searchForm.value.rating)">
  <select name="rating" id="" ngModel>
    <option value="G">rated G</option>
    <option value="PG">rated PG</option>
    <!-- <option value= "G" >rated G</option>
        <option value= "G" >rated G</option>
        <option value= "G" >rated G</option>
        <option value= "G" >rated G</option>  -->
  </select>
  <button type="submit">Fetch the Movies!</button>
</form>

<div *ngFor="let movie of movieList">
  <p>{{ movie.title }}</p>
  <label for="">Add To Your <a routerLink="/watchList"> Watch List</a>
    <input type="checkbox" name="WatchList" id="" (click)="addToWatchList($event)">
  </label>

</div>
